* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  color: black;
}

body {
  background-color: rgb(219, 219, 219);
}

.main {
  position: relative;
  min-height: 100%;
}
.main h1 {
  color: beige;
  background-color: black;
  font-family: "Tilt Neon", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

header {
  font-size: 18px;
}
header a {
  font-size: 18px !important;
  color: rgb(243, 237, 152) !important;
}
header a:hover {
  font-size: 19px !important;
}
header .nav-item {
  margin: 10px;
  border-radius: 25%;
}
header .dropdown-item:hover, header .nav-item:hover {
  background-color: rgb(206, 48, 48) !important;
  font-weight: bolder;
}
header img {
  width: 80px;
}

footer {
  margin-top: 30px;
  background-color: black;
  color: white;
  width: 100%;
  height: auto;
  font-size: 12px;
  font-weight: bolder;
}

.box-logos img {
  width: 100px;
}

.header-nav {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: red;
}

.bg img {
  width: 100%;
  height: 260px;
  border-top: 1px solid black;
}

.article-center {
  font-family: "Ubuntu", sans-serif;
  width: 70%;
  margin: auto;
  margin-top: 15px;
  text-align: center;
}

.txt-l {
  font-size: 22px;
}

.txt-m {
  font-size: 20px;
}

.txt-s {
  font-size: 18px;
}

.txt-box {
  font-family: "Ubuntu", sans-serif;
  background-color: rgba(241, 229, 124, 0.74);
  border-radius: 5%;
  width: 70%;
  padding: 10px;
  margin: auto;
  text-align: center;
  box-shadow: 0px 0px 15px 5px rgba(241, 229, 124, 0.349);
}

.horraire {
  width: 25%;
  min-width: 210px;
  margin: auto;
}
.horraire h2 {
  text-align: center;
}
.horraire p {
  padding-left: 20%;
}
.horraire span {
  font-weight: 700;
}

.pictures {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  width: 80%;
  height: auto;
  margin: auto;
  margin-bottom: 20px;
  background-color: rgba(160, 159, 159, 0.281);
  border-radius: 5%;
}
.pictures div {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-around;
}
.pictures img {
  width: 45%;
  height: auto;
  border-radius: 5%;
  box-shadow: 0px 0px 5px 2px rgba(128, 0, 0, 0.562);
}

.sep {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  border-bottom: 2px solid rgb(68, 36, 36);
  box-shadow: 0px 0px 8px 5px rgba(128, 0, 0, 0.555);
}

.connect-form {
  width: 320px;
  height: auto;
  margin: auto;
  background-color: rgba(160, 159, 159, 0.281);
  box-shadow: 0px 0px 8px 5px rgba(128, 0, 0, 0.555);
}
.connect-form h2 {
  color: beige;
  background-color: black;
  font-family: "Tilt Neon", sans-serif;
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline;
}

.form-box {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.form-box label {
  font-family: "Tilt Neon", sans-serif;
}

.btn-sub {
  display: flex;
  justify-content: flex-end;
  margin: 5px;
}

.text-sub {
  width: 250px;
  text-align: center;
  margin: auto;
  font-family: "Ubuntu", sans-serif;
  font-size: 15px;
  font-weight: bold;
}

.contact-form {
  width: 50%;
  height: auto;
  margin: auto;
  background-color: rgba(160, 159, 159, 0.281);
  box-shadow: 0px 0px 8px 5px rgba(128, 0, 0, 0.555);
}

@media screen and (max-width: 800px) {
  .box-logos img {
    width: 50px;
  }
}

/*# sourceMappingURL=style.css.map */
